# ==========================================================
# RMS Server Requirements
# Version : 1.0
# ==========================================================

# ----------------------------------------------------------
# Web Server
# ----------------------------------------------------------
Flask>=3.1.0

# ----------------------------------------------------------
# Environment Variables
# ----------------------------------------------------------
python-dotenv>=1.1.0

# ----------------------------------------------------------
# Data Models
# ----------------------------------------------------------
pydantic>=2.11.0

# ----------------------------------------------------------
# Media Downloader
# ----------------------------------------------------------
yt-dlp>=2025.6.30

# ----------------------------------------------------------
# HTTP Client (Future APIs)
# ----------------------------------------------------------
requests>=2.32.0

# ----------------------------------------------------------
# Beautiful HTML Parsing (Future Website Processor)
# ----------------------------------------------------------
beautifulsoup4>=4.13.0

# ----------------------------------------------------------
# FFmpeg Wrapper (Optional)
# Currently we use subprocess.
# Useful for future media operations.
# ----------------------------------------------------------
ffmpeg-python>=0.2.0
imageio-ffmpeg>=0.5.1

faster-whisper>=1.1.0